@model MvcTechdaysBlog.Models.Comment

<div class="comment">
    <div class="comment-name">@Model.Name</div>
    <div class="comment-date">@Model.Date.ToString("dd.MM.yyyy - HH:mm")</div>
    <div class="comment-content">@Model.Content</div>  
</div>